body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 30px;
  color: #3c3c3c;
  font-weight: 500;
  padding: 0px 0 5px 0;
}
.search-wrapper {
  max-width: 450px;
  margin: 30px auto;
}
form {
  margin: 0 auto;
}

.weather-app-wrapper {
  max-width: 450px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  height: 450px;
  border-radius: 18px;
  background-color: #437afe;
}
.weather-forecast {
  margin-top: 15px;
  text-align: center;
  max-width: 450px;
}

.row {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
}

.weather-forecast-date {
  font-size: 16px;
  color: #838383;
}
.weather-forecast-temperature {
  color: #838383;
  font-size: 14px;
}

.weather-forecast-low {
  opacity: 0.5;
}

p {
  display: inline;
  font-size: 20px;
  color: rgb(164, 164, 164);
  font-weight: 400;
}

img {
  display: block;
  margin: 0 auto;
}
h3 {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin: 6px 0 7px 0;
  padding: 7px 0 0 0;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

h4 {
  color: #85b4ff;
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0px 0 8px 0px;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 75px;
  font-weight: 500;
  text-align: center;
}
.upcoming-days {
  margin-top: 20px;
}

.measure {
  display: inline;
  position: relative;
  top: -85px;
  right: -255px;
  color: #85b4ff;
  font-size: 15px;
}

.weatherConditions {
  color: #fff;
  text-align: center;
  padding: 10px 30px;
}

a.active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

a.active:hover {
  text-decoration: none;
}

a {
  color: #85b4ff;
  text-decoration: none;
}

.source {
  position: relative;
  top: 12px;
}
